<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beta.dataface"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.beta.dataface.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.beta.dataface.ListViewLoader"
            android:label="@string/title_activity_list_handler"
            android:parentActivityName="com.beta.dataface.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beta.dataface.MainActivity" />
        </activity>
        <activity
            android:name="com.beta.dataface.AddNewObject"
            android:label="@string/title_activity_add_new_object"
            android:parentActivityName="com.beta.dataface.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beta.dataface.MainActivity" />
        </activity>
        <activity
            android:name="com.beta.dataface.ListChildActivity"
            android:label="@string/title_activity_list_child"
            android:parentActivityName="com.beta.dataface.ListViewLoader" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beta.dataface.ListViewLoader" />
        </activity>
        <activity
            android:name="com.beta.dataface.ContentActivity"
            android:label="@string/title_activity_content"
            android:parentActivityName="com.beta.dataface.ListChildActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beta.dataface.ListChildActivity" />
        </activity>
        <activity
            android:name="com.beta.dataface.ViewContentListActivity"
            android:label="@string/title_activity_view_content_list"
            android:parentActivityName="com.beta.dataface.ListViewLoader" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beta.dataface.ListViewLoader" />
        </activity>
        <activity
            android:name=".ContentTextAreaActivity"
            android:label="@string/title_activity_list_content"
            android:parentActivityName="com.beta.dataface.ViewContentListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beta.dataface.ViewContentListActivity" />
        </activity>
    </application>

</manifest>
